.container {
  display: flex;
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ul li {
  height: 200px;
  width: 47%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: #00000044 0 0 10px;
  text-align: center;
}

.ul a {
  text-decoration: none;
  display: block;
  font-family: Arial;
  position: relative;
  color: black;
  padding: 0.5em 0;
}
