.wrapper {
  position: relative;
}

.eventImage img {
  height: 190px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ul li {
  height: 250px;
  width: 47%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: #00000044 0 0 10px;
  text-align: center;
}

.ul a {
  text-decoration: none;
  font-family: Arial;
  color: black;
  padding: 0.5em 0;
}

.title {
  position: absolute;
  font-size: 1.5em;
  top: 10px;
  left: 0;
  right: 0;
}

.month {
  position: absolute;
  color: red;
  text-transform: uppercase;
  left: 10px;
}

.day {
  position: absolute;
  text-align: start;
  top: 20px;
  left: 15px;
}

.location {
  position: absolute;
  font-size: 1em;
  right: 10px;
  bottom: 165px;
}