{
  "extends": ["@gjensidige/eslint-config-core", "next", "next/core-web-vitals"],
  "root": true,
  "globals": {
    "CONFIG": true,
    "log": "readonly",
    "resolve": "readonly",
    "app": "readonly"
  },
  "rules": {
    // Other rules
    "@next/next/no-img-element": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "@typescript-eslint/ban-types": [
      "error",
      {
        "extendDefaults": true,
        "types": {
          "{}": false
        }
      }
    ]
  }
}

