.container {
    margin-top: 30px;
    margin-bottom: 30px;
}
.container > div > div {
    display: flex;
    justify-content: space-between;
}

.icon {
    padding-right: 5px;
    width: 25px;
    height: 25px;
}

.columnise {
    min-width: 250px;
}

.iconAndTextCell {
    display: flex;
    align-content: flex-start;
    align-items: center;
}
.iconAndTextCell.fullRow {
    margin: 1rem 0;
}