.eventPart {
    margin: 0 20px;
    padding-bottom: 20px;
    color: rgb(0, 0, 0);
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 100%;
}

.eventPart .container {
    max-width: unset;
}

.container > div > div {
    display: flex;
    justify-content: space-between;
}

.icon {
    padding-right: 5px;
    width: 25px;
    height: 25px;
}

.columnise {
    min-width: 200px;
}

.iconAndTextCell {
    display: flex;
    align-content: flex-start;
    align-items: center;
}
.iconAndTextCell.fullRow {
    margin: 1rem 0;
}

/* Countdown */

.countdownContainer {
    text-align: center;
    background-color: #ebf0fa;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .countdown {
    font-size: 20px;
    font-weight: bold;
    word-spacing: 40px;
  }
  
  .countdowntext {
    font-size: 15px;
    word-spacing: 10px;
    color: #888;
  }