.container {
    display: flexbox;
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon{
    padding-right: 5px;
    width: 35px;
    height: 35px;
    padding-left: 10px;
}

.locationIsh{
    display: flex;
    align-items: center;
}

.startEnd{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}