.background-theme {
  background-color: #ffffff;
  height: 100vh;
}

.default {
  background-color: #f9ffd788;
}

.christmas {
  background-color: #0f5064;
}

.newyear {
  background-color: #f900bf;
}

.summer {
  background-color: #ff020288;
}

.pride {
  background-color: #0338ab;
}
