.rsvpPart{
    margin: 20px;
}

.rsvpAttending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 35%;
    margin-bottom: 15px;
}

.rsvpIntolerance {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    margin-bottom: 15px;
}
