.container {
  text-align: center;
  margin: 20px;
  background-color: #ebf0fa;
  border-radius: 10px;
  padding: 5px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.countdown {
  font-size: 20px;
  font-weight: bold;
  word-spacing: 40px;
}

.countdowntext {
  font-size: 15px;
  word-spacing: 10px;
  color: #888;
}
